body{
    background-color: #0C2340;
}

#head{
    color: cornsilk;
    margin-top: 2%;
    line-height: 200%;
}

#downloadBtn{
    margin-left: 4%;
}

.video-fluid {
    width: 100%;
    height: 100%;
}

@media (max-width:770px){
    .video-fluid {
        display: none;
    }
    #head{
        margin-top: 3%;
        line-height: 300%;
    }   
    #head h2{
        color: #ffc107
    }
     
}
