#bg{
    height: 100%;
    width: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, #267871 0%, #136a8a 100%);
    clip-path: polygon(26% 0, 100% 0, 100% 35%, 100% 71%, 69% 100%, 0 100%, 0 23%);
    /* clip-path: circle(76.9% at 28% 20%); */
    position: absolute;
    z-index: -2;
}
#title{
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width:770px){
    #bg{
        height: auto;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }